.main_block{
    
				background-color: grey;
				width: 310px;
				height: 310px;
				margin: auto;
				margin-top: 10%;
			}

			.inner_block{
				background-color: aquamarine;
				width: 100px;
				height: 100px;
				margin-left: 2px;
				position: relative;
				margin-top: 2px;
				float: left;
			}

			.body{
				background-color: black;
			}
			.row{
				padding-left: 45%;
			}