.main_block{
				width: 310px;
				height: 310px;
				margin: auto;
				margin-top: 10%;
			}

			.inner_block{
				background-color: aquamarine;
				width: 100px;
				height: 100px;
				position: relative;
				float: left;
			}

			.body{
				background-color: black;
			}
      .nav{ 
        width: 58%;
        float: right;
      }
